flows.json
[{"id":"2ca1495d6229f1ea","type":"ui_slider","z":"dc7bfa251a6e025e","name":"","label":"온도설정","tooltip":"","group":"e072312c631d4a61","order":14,"width":"8","height":"2","passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"250","step":1,"className":"","x":240,"y":320,"wires":[["5c9008fad2fcd71e","c6915ee45552885e"]]},{"id":"0195a55bb3a9282b","type":"function","z":"dc7bfa251a6e025e","name":"function 4","func":"msg.payload = msg.payload + \"도를 선택했습니다.\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":360,"wires":[["42a4415cbaf75bbd","7057c21763782bd1"]]},{"id":"42a4415cbaf75bbd","type":"debug","z":"dc7bfa251a6e025e","name":"debug 9","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":300,"wires":[]},{"id":"7057c21763782bd1","type":"ui_audio","z":"dc7bfa251a6e025e","name":"","group":"e072312c631d4a61","voice":"Google 한국의","always":"","x":620,"y":380,"wires":[]},{"id":"5c9008fad2fcd71e","type":"ui_numeric","z":"dc7bfa251a6e025e","name":"","label":"목표온도","tooltip":"","group":"e072312c631d4a61","order":15,"width":"8","height":3,"wrap":true,"passthru":true,"topic":"topic","topicType":"msg","format":"<font size = 40>{{value}}'C</font>","min":0,"max":"250","step":1,"className":"","x":240,"y":420,"wires":[["bf04e090e79ec093","0195a55bb3a9282b","2ca1495d6229f1ea"]]},{"id":"bf04e090e79ec093","type":"debug","z":"dc7bfa251a6e025e","name":"debug 10","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":440,"y":420,"wires":[]},{"id":"c6915ee45552885e","type":"debug","z":"dc7bfa251a6e025e","name":"debug 11","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":420,"y":260,"wires":[]},{"id":"2b5da4e2fec0763b","type":"modbus-read","z":"dc7bfa251a6e025e","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"showWarnings":true,"unitid":"1","dataType":"HoldingRegister","adr":"10","quantity":"2","rate":"10","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"6e84ec43d93fce6f","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":250,"y":140,"wires":[[],["dc51b216cca2795c","b6e5db9d11767503","1ab9b9c122903ae9"]]},{"id":"dc51b216cca2795c","type":"ui_gauge","z":"dc7bfa251a6e025e","name":"","group":"e072312c631d4a61","order":2,"width":4,"height":3,"gtype":"donut","title":"현재온도","label":"'C","format":"{{msg.payload.data[0]/10}}","min":"0","max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":480,"y":180,"wires":[]},{"id":"b6e5db9d11767503","type":"ui_text","z":"dc7bfa251a6e025e","group":"e072312c631d4a61","order":1,"width":4,"height":3,"name":"","label":"현재온도","format":"<font size=50>{{msg.payload.data[0]/10}}'C</font>","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":480,"y":100,"wires":[]},{"id":"1ab9b9c122903ae9","type":"debug","z":"dc7bfa251a6e025e","name":"debug 12","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":480,"y":40,"wires":[]},{"id":"e072312c631d4a61","type":"ui_group","name":"Group 1","tab":"2d2401bd1c7b49ac","order":1,"disp":true,"width":8,"collapse":false,"className":""},{"id":"6e84ec43d93fce6f","type":"modbus-client","name":"rs485","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"failureLogEnabled":true,"tcpHost":"127.0.0.1","tcpPort":502,"tcpType":"DEFAULT","serialPort":"/dev/ttyAMA1","serialType":"RTU-BUFFERD","serialBaudrate":9600,"serialDatabits":8,"serialStopbits":1,"serialParity":"none","serialConnectionDelay":100,"serialAsciiResponseStartDelimiter":"0x3A","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true,"showErrors":false,"showWarnings":true,"showLogs":true},{"id":"2d2401bd1c7b49ac","type":"ui_tab","name":"Tab 2","icon":"dashboard","order":2}]